<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Static Files" stopProcessing="true">
                    <match url="^(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="app.py" />
                </rule>
            </rules>
        </rewrite>
        <security>
            <requestFiltering>
                <fileExtensions>
                    <add fileExtension=".py" allowed="true" />
                </fileExtensions>
            </requestFiltering>
        </security>
        <staticContent>
            <mimeMap fileExtension=".py" mimeType="text/plain" />
        </staticContent>
        <httpPlatform processPath="Python.exe" arguments="%%LAUNCHER_PATH%% --port %%%%HTTP_PLATFORM_PORT%%%%" 
            startupTimeLimit="60" requestTimeout="00:04:00">
            <environmentVariables>
                <environmentVariable name="PYTHONPATH" value="."/>
                <environmentVariable name="WSGI_LOG" value="\\?\%%APP_LOG_DIR%%\wfastcgi.log"/>
            </environmentVariables>
        </httpPlatform>
    </system.webServer>
</configuration>
